/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
      behaviors {
         &mt {
            flavor = "balanced";
         };
      };
      keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp ESCAPE     &kp Q             &kp W  &lt 5 E     &kp R  &kp T          &kp Y    &kp U  &lt 5 I      &kp O    &kp P                 &kp BSPC
&mt LCTRL TAB  &mt LEFT_SHIFT A  &kp S  &lt 5 D     &kp F  &kp G          &kp H    &kp J  &lt 5 K      &kp L    &mt RIGHT_SHIFT SEMI  &mt RIGHT_CONTROL SQT
&kp LEFT_ALT   &mt LEFT_GUI Z    &kp X  &lt 5 C     &kp V  &kp B          &kp N    &kp M  &lt 5 COMMA  &kp DOT  &mt RIGHT_GUI FSLH    &mt RIGHT_ALT BSLH
                                        &caps_word  &mo 1  &lt 2 SPACE    &kp RET  &mo 3  &mo 4
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&kp GRAVE  &sys_reset  &none  &none   &none   &none     &kp N0  &kp N1  &kp N2  &kp N3  &none   &trans
&trans     &trans      &none  &none   &none   &none     &none   &kp N4  &kp N5  &kp N6  &trans  &trans
&trans     &trans      &none  &none   &none   &none     &none   &kp N7  &kp N8  &kp N9  &trans  &trans
                              &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp GRAVE  &none   &none  &none   &none   &none     &kp INSERT  &kp SCROLLLOCK  &kp PAUSE_BREAK  &none      &none   &kp DELETE
&trans     &trans  &none  &none   &none   &none     &kp LEFT    &kp DOWN        &kp UP           &kp RIGHT  &trans  &trans
&trans     &trans  &none  &none   &none   &none     &kp HOME    &kp PAGE_DOWN   &kp PAGE_UP      &kp END    &trans  &trans
                          &trans  &trans  &trans    &trans      &trans          &trans
            >;
        };

        layer_3 {
            bindings = <
&kp GRAVE  &none   &kp EXCLAMATION  &kp AT_SIGN   &kp POUND  &none     &none   &none   &none   &none  &none   &trans
&trans     &trans  &kp DOLLAR       &kp PERCENT   &kp CARET  &none     &none   &none   &none   &none  &trans  &trans
&trans     &trans  &kp AMPERSAND    &kp ASTERISK  &none      &none     &none   &none   &none   &none  &trans  &trans
                                    &trans        &trans     &trans    &trans  &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&kp GRAVE  &kp K_SLEEP  &none          &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &none               &none   &none   &none   &none  &none   &trans
&trans     &trans       &kp LS(LG(W))  &kp K_VOLUME_DOWN     &kp K_VOLUME_UP       &kp K_MUTE          &none   &none   &none   &none  &trans  &trans
&trans     &trans       &kp K_STOP     &kp K_PREVIOUS        &kp K_NEXT            &kp K_PLAY_PAUSE    &none   &none   &none   &none  &trans  &trans
                                       &trans                &trans                &trans              &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &kp EQUAL    &trans  &kp UNDER   &trans    &trans  &kp LBRC  &trans  &kp RBRC  &trans  &trans
&trans  &trans  &kp MINUS    &trans  &kp PLUS    &trans    &trans  &kp LPAR  &trans  &kp RPAR  &trans  &trans
&trans  &trans  &kp K_PASTE  &trans  &kp K_COPY  &trans    &trans  &kp LBKT  &trans  &kp RBKT  &trans  &trans
                             &trans  &trans      &trans    &trans  &trans    &trans
            >;
        };
    };
};
